[2020-04-03 14:18] kevmodrome opened #1 "Project Structure"
# Introduction

The current load on the Svelte OSS maintainers is currently high with many issues and pull requests open spanning across many repositories. While Svelte usage is increasing around the world so does the need to handle support and questions, in addition to the bugs that inevitably are discovered. Svelte Society aims to off-load as much of the support load as possible by building a we

[2020-04-03 14:30] kevmodrome opened #2 "tech: front-end"
I'm opening this to discuss different technologies we can use to build the front-end. All suggestions are welcome and the choices are not set in stone. I will be focusing on the back-end part of this project mostly so for me it's not that important what technologies we use.

I know @sw-yx is keen to use SSG, if that's not an option, or he wants to build a new version, I would personally suggest [R

[2020-04-03 14:39] kevmodrome opened #3 "Cookbook Features"
This issue is to discuss what things should be present on the Cookbook page.

There are a number of ways figure this out I think. I quite like the [Vue](https://vuejs.org/v2/cookbook/) and [Phoenix](https://hexdocs.pm/phoenix/overview.html) cookbooks/guides. They both seem to go for a sidebar with sections and recipes and then display the content in the middle. This would fit well with the current

[2020-04-03 20:17] sw-yx commented on #1
nice

[2020-04-03 23:08] sw-yx commented on #2
we absolutely dont have to use SSG at all :)

[2020-04-04 11:21] antony commented on #2
I don't know what SSG is :) Anyone?
Routify is also fine, if SSG isn't on the table.

I'm not into CSS frameworks at all, since I just constantly get burned with them, but if MVP gives some sensible defaults and we don't plan to override them constantly, then that sounds like a good solution.

Probably you need to decide:
* SCSS/Stylus or not
* Component libs - if there are plans/requirements for

[2020-04-04 14:17] kevmodrome commented on #2
I'll let the repository speak for itself: [SSG](https://github.com/sw-yx/ssg)

I generally don't like them either. MVP gives you some nice [barebones](https://github.com/svelte-society/svelte-society-day-2020/blob/master/static/global.css) styling with sane defaults and css variables from the get-go. And this stylesheet just happens to already be set up with the correct colors and stuff that we ne

[2020-04-07 13:53] sw-yx commented on #2
just set up the basic layout @kevmodrome  i can help to fill out content

[2020-04-07 14:05] kevmodrome commented on #2
All right, i'll set something up later today! :) It won't be fully responsive to all screen sizes yet though.

[2020-04-08 13:51] kevmodrome opened #4 "Design"
Here's a Cookbook/Recipes page design I worked a bit on today. It should show the general idea of what we can aim for (feedback welcome!)

https://www.figma.com/file/CWyNLNaQI4yfHULrf1i4UC/Svelte-Society-Website?node-id=166%3A386

[2020-04-09 10:27] antony opened #5 "Svelte Component Index"
A lot like awesome-svelte, but more polished + manageable. We can start with awesome-svelte as a base perhaps.

- [x] A list of different component categories
- [ ] A screenshot of the component
- [ ] Author
- [ ] Github link
- [x] NPM/yarn Instructions

Proposal from https://github.com/sveltejs/svelte/issues/1070

[2020-04-09 11:26] dhonx commented on #5
Is this just a website or just on an MD file?

[2020-04-09 14:59] antony opened #6 "deep dives section"
Spotted this whilst closing some old issues today, and I think it might be a nice new section for the site - deep dives, hardcore stuff and deep dives:

https://github.com/sveltejs/svelte/issues/3361

[2020-04-10 02:48] sw-yx commented on #6
possibly this best belongs on people's blogs, and then we link to them.

[2020-04-10 02:49] sw-yx commented on #4
checking it out :)

[2020-04-10 02:51] dhonx commented on #5
@antony I wanna participate with this one..

[2020-04-10 06:34] kevmodrome commented on #5
Hi @dhonx this will one part of the website. If you want to participate you can read the #1, #2 and #4 to get started with understanding what the project is about. We also have a [Discord server](https://discord.gg/9fj32Tw) you can join.

[2020-04-10 07:15] kevmodrome commented on #5
What other websites can we get inspired by when it comes to this?

- [Elm Packages](https://package.elm-lang.org/)
- [NPM](https://www.npmjs.com/search?q=Svelte)
- [Hex](https://hex.pm/packages)
- [Bit](https://bit.dev/components)

We need an index page that lists all the components as well as individual pages for each package. I'm personally a fan of a card-like view where you can see some kind o

[2020-04-10 08:49] antony commented on #5
The Svelte REPL isn't documented that well so it can be hard to integrate, but I think @pngwn has done it so perhaps he can provide some pointers.

[2020-04-10 08:53] pngwn commented on #5
I know the REPL relatively well. I’ve used it as is but also forked it to edit the internals. I should write some basic documentation the REPL repo itself, just so people can get started.

But if you want any pointers you know I’m always available. Or if you want me to take on that work I’d be happy to do so.

[2020-04-10 08:58] antony commented on #5
@pngwn - I think either is fine. If you do document the process you are also closing a couple of issues (I can't find them now) about people wanting to know how to integrate a REPL on their own sites.

If you document it perhaps we could dogfood the docs by integrating it according to the instructions you provide.

[2020-04-10 08:59] pngwn commented on #5
Sounds good!

[2020-04-10 10:27] kevmodrome commented on #5
I've used @pngwn code form his bristalk to integrate the REPL in an upcoming site i'm building so i'm somewhat familiar at least with how to get it up and running but I don't know nearly enough to customize it or anything. Your help would be most welcome when the time comes. I'm thinking it can be a Phase 2 thing, rather than a Phase 1 thing.

I think a JSON file can work to begin with but the end

[2020-04-10 12:17] kevmodrome commented on #4
This is what I've come up with when it comes to the Component index page (relevant to #5). I think the most important stuff are here. An image, last update, tags as well as a short description and the title. Any things that might be missing?

![componentindexpage_v1](https://user-images.githubusercontent.com/534488/78989949-5ce1b380-7b35-11ea-894b-673f3a515f0c.png)

[2020-04-10 19:36] Wolfr commented on #1
Great! I love that you put out a clear vision.

[2020-04-10 19:38] Wolfr commented on #4
I took this and tweaked it a bit.

![image](https://user-images.githubusercontent.com/12690/79018235-9802d780-7b73-11ea-8ae0-6f66ef8b6ca2.png)

We had a discussion on Discord about which filters we need which is unresolved.

Just posting here for posterity.

[2020-04-10 19:39] Wolfr commented on #4
Also, my Figma link to a file where I merged the Svelte Society day design with the components page and the cookbook page. Needs some detailed work on types styles etc. but this gives you an idea.

https://www.figma.com/file/iCHWpdoox2Ls3NnfujVdMz/Svelte-Society?node-id=10%3A290

[2020-04-10 19:43] Wolfr commented on #6
Would be nice to have some experimental stuff documented in the right section, like how to generate an array right in your each loop.

[2020-04-11 12:50] dhonx commented on #4
Great! I will take a look

[2020-04-11 14:22] sw-yx commented on #4
just repeating what i mentioned on the discord - we should have a plan for components that dont have images. either due to lack of visual aspect or just missing data entry

[2020-04-19 11:24] sw-yx commented on #6
what? like `{%each new Array(20) %}` ?

[2020-04-19 11:24] sw-yx commented on #1
is there a particular reason you picked may 17 launch date? :)

[2020-04-19 12:12] Wolfr commented on #6
yes indeed.

There's some things that "unofficial" and only found through a deep search of Github issues, such as `$$props` and indeed, some way to generate an array without having to write an object/array with data (for demo purposes). It would be interesting to have some of these in a cookbook style environment, and see if there is a community need to have this kind of functionality.

After whic

[2020-04-19 13:38] antony commented on #6
{#each {length: 20} as elem}

On Sun, 19 Apr 2020 at 12:24, swyx <notifications@github.com> wrote:

--
________________________________
ꜽ . antony jones . http://www.enzy.org

[2020-04-20 19:41] kevmodrome commented on #1
Nope! Entirely arbitrary haha! Seemed like a good amount of time after the online meetup. You think it's too much? Too little? I'm open moving it

[2020-04-21 07:20] Wolfr commented on #1
Seems like too soon, building a site needs more prep than a few weeks.

[2020-04-21 12:36] sw-yx commented on #1
launch early, launch often :)

[2020-04-21 12:38] sw-yx commented on #6
damn thats leet as hell hahah

[2020-04-21 12:42] sw-yx opened #8 "Umbrella: continuing work on Recipes"
we need to pick up with more work from https://github.com/svelte-society/site/pull/7#pullrequestreview-396039175

- implement proper Routify data fetching from markdown https://github.com/sveltech/routify/issues/149
- ??

The rest of the recipes need to be finished, and are being worked on in https://github.com/svelte-society/recipes-mvp

[2020-04-21 13:09] kevmodrome commented on #8
Yep! Sounds good. Did you speak with Jake about a good implementation? I'll get cracking on the data structure for the recipes and such.

[2020-04-21 16:07] sw-yx commented on #8
not urgent.. i just made this issue for myself. yeah jacob's response is linked in above in the routify link

[2020-04-21 16:43] sw-yx commented on #8
not urgent.. i just made this issue for myself. yeah jacob's response is linked in above in the routify link

[2020-04-22 06:30] kevmodrome commented on #8
Oh, geez. Totally missed it somehow. Cool!

(removed a duplicate comment as well)

[2020-04-24 18:26] kevmodrome commented on #1
We can always revise if we're nowhere near a workable site at that point in time :)

[2020-04-25 18:53] Wolfr commented on #8
Why data fetch when you can use mdsvex?

The Routify site has a blog which implements and .svx template with front matter.

https://routify.dev/blog

Repo: https://github.com/sveltech/routify-site-2020

It's a blog but the same logic could be used to write a list of recipes.

[2020-04-25 19:36] kevmodrome commented on #8
We're most likely going to use both mdsvex and fetch data. We need to fetch data since we're going to be using a back-end to handle moderation of submissions and writing recipes

[2020-04-25 21:53] sw-yx commented on #8
lead the way :) i'll just focus on content.

[2020-04-26 20:02] ryanatkn commented on #5
Related to what @antony described, [here's how Ember Observer does things](https://emberobserver.com/about), including a simple automated scoring rubric to maintain a minimum quality bar.

[2020-04-27 06:11] kevmodrome commented on #5
I like the idea of an automated score!

[2020-04-27 20:08] sw-yx opened #9 "index svelte community world wide"
i think one of our most impt functions will be to help people find their local community, and then helping them grow.

- https://twitter.com/ColombiaSvelte
- https://twitter.com/SveltePortland
- https://twitter.com/SvelteBA
- https://twitter.com/SvelteBangalore
- https://twitter.com/DublinSvelte

etc etc

need to make it ezpz for them to add themselves and discover each other and organize events i

[2020-04-28 16:33] sw-yx opened #10 "MadeWithSvelte integration"
had some chats with https://madewithsvelte.com/ (https://twitter.com/arminulrich and https://twitter.com/_feloidea)

they are doing a better job than us of tracking svelte projects for showcase. they have an api endpoint and we can show random svelte projects from their list

[2020-04-28 17:15] kevmodrome commented on #10
Sounds like a good idea!

[2020-04-28 17:16] kevmodrome commented on #9
Yes, I feel like this is a phase 2 thing, we could probably make something small that just lists something for p1, but after that I am hoping I can do something more dynamic on the backend, unsure how the solution would look like or even what we would want, functionality wise.

[2020-04-28 18:35] Wolfr commented on #10
They do seem commercially incentivized. But if it helps to have better content sooner...

[2020-04-28 18:36] arminulrich commented on #10
Heya!

happy that you think we do a good job - working hard on curating all the awesome dev resources daily :)

we expose a single endpoint to get 10 random posts: https://madewithsvelte.com/api/v1/posts/random

btw I added the SvelteSociety Logo to https://madewithsvelte.com if we can do anything else let me know :)

[2020-04-28 18:36] Wolfr commented on #9
Just as a data point, I tried fixing the Belgium information in the previous version of the site through Netlify CMS and the information never got through.

[2020-04-28 18:37] arminulrich commented on #10
@Wolfr this is _kinda_ true - 99% of our work is free, across all platforms; but we do offer to skip the submission queue by supporting/paying us - if this is against what you want here I totally understand!

[2020-04-28 18:38] kevmodrome commented on #10
This is true, we might want to make sure we decide on some framework to handle things like this correctly. I'll make an issue.

[2020-04-28 18:40] kevmodrome opened #11 "How do we deal with commercial entities?"
This just came up in the issue about madewithsvelte.com. I have nothing against having it on the site at this moment but I do think we need to make sure we handle this correctly. Let's explore how other projects like these handle this.

[2020-04-28 18:48] kevmodrome commented on #11
In accordance with the design I did for the recipes page I think there is room to allow for companies/individuals to in the long run maintain some of the Recipes in exchange for a short blurb beneath them. Not sure if that's a good idea though, would be nice with some opinions on this.

What does the Svelte project have to say about things like these? Ping @antony. Maybe you already know the answe

[2020-04-28 18:51] Wolfr opened #12 "Svelte Society '20 page - post-event on site"
I think it would be nice if we do a post event version of the Svelte Society Day website.

The way I envision it is that it becomes a page on the website where we remove the FAQ, where we add a text about what went down on April 26th, and change the block of 10 speakers to a block that links out to youtube to their talk.

Here is a beginning of the copy:

https://www.figma.com/file/iCHWpdoox2Ls3Nn

[2020-04-28 18:54] kevmodrome commented on #12
That's a good idea. I will try to get to it during the weekend if I have time, if someone wants to get to it before that you're free to open a PR.

[2020-04-28 18:55] Wolfr commented on #10
I think there is definitely room for commercial entities within OSS, like @kevmodrome says we just need to talk about it and come up with a reasoning and sort of “policy”.

At this stage I also don't want to make a big deal out of it and don't want it to be a blocker.

One example I can think of from the top of my Vue.js docs promoting https://vueschool.io/ .

[2020-04-28 18:56] Wolfr commented on #12
Overall I would love to help with the site's code as well but this might also be more like a weekend thing.

[2020-04-28 19:01] Wolfr commented on #9
A simple static page with a list of meetup groups could already be something, people can always pull request, let's not make it too complicated to begin with?

[2020-04-28 19:02] kevmodrome commented on #9
Yep, that's totally fine with me.

[2020-04-28 19:11] kevmodrome opened #13 "Test"
testing Discord integration

[2020-04-28 19:11] kevmodrome commented on #13
It works! :)

[2020-04-28 19:11] #13 closed

[2020-04-29 21:05] sw-yx commented on #9
yes, im ready to drop netlifycms and was actually thinking of using google sheets. pr workflow is also fine

[2020-04-29 21:06] sw-yx commented on #10
i'm ok with it :)

[2020-04-29 21:06] sw-yx commented on #11
ya i'm fine with that. more maintainers the better. but we'll say that our decision is final when conflicts arise.

[2020-05-02 13:09] sw-yx commented on #9
started a twitter list of other svelte societies https://twitter.com/SvelteSociety/status/1256565120051736578?s=20.. aiming to be a partner rather than a blocker

[2020-05-11 09:05] antony opened #14 "Svelte Preprocess - Autoprefixing"
https://github.com/sveltejs/template/issues/129

[2020-05-11 17:11] antony opened #15 "Possible integrations with... integrations"
Note that I've just started merging some PRs in this repo. https://github.com/sveltejs/integrations

It would be good to think about

- [ ] is it a data-source, source of truth, or otherwise?
- [ ] Do we want to use it in-situ, adopt it, make it indexable?

among other things.

[2020-05-11 18:22] sw-yx commented on #15
i have no idea at all 😅 never used that repo

[2020-05-11 19:33] kevmodrome commented on #15
I could see this living on the site. Seems to be closely related to what we're doing here at least. Could either use it as a SoT and move it over once the back-end is ready.

[2020-05-13 21:26] Wolfr opened #16 "Community blog posts"
Since my [PR for a blog post about community](https://github.com/sveltejs/svelte/pull/4763) is stuck in PR-land (and has been for over a month now if you count the [v1](https://github.com/sveltejs/svelte/pull/4645)) I think I want to just publish content somewhere else.

It doesn't make sense to me to have an outdated blog on Svelte.dev. I tried to fix it, but I can't get it moving.

After the Sve

[2020-05-13 21:30] kevmodrome commented on #16
I'm open to setting up a blog on the svelte society website, go for it! I don't really have time at the moment to set it up but it shouldn't be too much work to add MDSveX or some other MD thing to it.

[2020-07-06 07:32] kevmodrome opened #19 "Styling issues on the recipe page"
Currently the staging site has some issues with the styling. It needs to match the design.

You can compare the current [site](https://staging.sveltesociety.dev/recipes/build-setup) and the [design](https://www.figma.com/file/CWyNLNaQI4yfHULrf1i4UC/Svelte-Society-Website?node-id=35%3A2)

I think it has to do with the styling sheet we're using, which is styling elements rather than using classes. N

[2020-07-06 07:35] kevmodrome opened #20 "Recipe pages don't work on reload"
When going to the recipe page you can go to a recipe but if you do a hard-refresh or navigate straight to this page you will get an error.

This indicates to me that these pages are not being exported correctly. Needs investigation.

[2020-07-06 07:38] kevmodrome opened #21 "feature: Components Index Page"
The [components](https://www.figma.com/file/CWyNLNaQI4yfHULrf1i4UC/Svelte-Society-Website?node-id=196%3A102) page needs to be implemented according to the design.

Since the functionality is not 100% set in stone yet it would be a good idea to not focus on the actual inner-workings of for example the filter part. Focus on the design! 👍

[2020-07-06 08:11] stephane-vanraes commented on #20
Some initial testing shows that:

1) The files are in the exported folder
![image](https://user-images.githubusercontent.com/13446670/86570230-e0ae0f00-bf6f-11ea-943f-0e7f60bb23fb.png)
2) Using `serve` locally on the dist folder works perfectly fine.

Note that currently on staging, going to
_https://staging.sveltesociety.dev/recipes/svelte-language-fundamentals/looping_ results in an error messag

[2020-07-06 08:51] stephane-vanraes opened #23 "mdsvex does not recognize code blocks marked with 'svelte'"
code blocks marked with **```svelte** are not processed correctly in mdsvex, instead they are just outputted as a single string, this will prevent us from getting fancy highlighting in the same way we could get here in github, this is a limitation of the processor mdsvex is using (prismjs)

a possible solution to this is to mark them as `html` instead
a more forward looking solution would be to ke

[2020-07-06 08:56] stephane-vanraes commented on #23
a third solution would be to write our own highlighter

[2020-07-06 11:16] kevmodrome commented on #20
Ah, interesting. This has to do with the Cloudflare Worker script then - I think it does some pattern matching to check the route and adds `/index.html`. The source for that is in the `workers-site` folder if you want to investigate further.

[2020-07-06 11:34] stephane-vanraes commented on #20
I believe I found the offending code, in the `workes-site/index.js` we use the function `getAssetFromKV`, one of the parameters this can take is a `mapRequestToAsset` the default for this one is is found [here](https://github.com/cloudflare/kv-asset-handler/blob/deda2296c920405bd377c3d17394ac611a49e548/src/index.ts#L14) as you can see the default behaviour is to indeed add `index.html` to the path

[2020-07-06 11:37] kevmodrome commented on #23
I think for now, just using `html` is probably the easiest. In the long run I can see value in doing that, maybe that's something that should actually be included in MDSveX, or as a plugin of some sort. Does @pngwgn (can I tag people like this? Hmm) maybe know what would be a good way forward here?

[2020-07-06 11:40] stephane-vanraes commented on #23
@pngwn

[2020-07-06 11:41] kevmodrome commented on #20
Got it! Maybe we should open an issue on their repo as well?

[2020-07-06 11:42] pngwn commented on #23
I don’t understand the problem. Can you please provide examples? I have svelte syntax highlighting on the mdsvex docs for example.

[2020-07-06 11:44] stephane-vanraes commented on #23
The problem is that prismjs does not support svelte, but it seems you made a package for exactly this: [prism-svelte](https://github.com/pngwn/prism-svelte) which you probably use in the mdsvex docs

Will create a PR adding this here as well

Apologies for the disturbance

[2020-07-06 11:55] kevmodrome commented on #23
That's great!

[2020-07-06 12:00] pngwn commented on #23
I half remember including this in mdsvex by default but I may have imagined it. I’ll see if there is a simple way to do that.

[2020-07-06 12:06] pngwn commented on #23
I imagined it. I’ll take a look at this.

[2020-07-06 15:32] kevmodrome commented on #20
This is now fixed!

[2020-07-06 15:32] #20 closed

[2020-07-06 15:33] kevmodrome opened #25 "Find/Design icons that fit with each Recipe category"
We need icons for each recipe category, at the moment we only have a "key" as a placeholder.

[2020-07-06 16:34] kevmodrome opened #26 "REPL Component"
At some point we'll be using the [REPL](https://github.com/sveltejs/svelte-repl). It should be easy enough to import and needs to be imported dynamically as to not be too heavy for users.

[2020-07-06 16:36] stephane-vanraes commented on #26
Could you be more specific as to where and how you would use it?

[2020-07-06 16:40] kevmodrome commented on #26
The intention is for using this inside of the recipes in order to make a more interactive experience for the users.

The author for would make a REPL on the official Svelte website, save it and extract the ID used. This ID will be used to fetch a json file at build time and pass the source of that to the REPL's `content` prop. Here's an [example of a JSON file](https://svelte.dev/repl/f807be09c1d6

[2020-07-06 16:42] stephane-vanraes commented on #26
ok so should be as easy as doing `<Repl id="123" />` from an author point of view?

[2020-07-06 16:49] kevmodrome commented on #26
yep! that's the idea, if it's problematic to fetch on build it might be possible to fetch the file from the svelte website on runtime

[2020-07-06 19:41] sw-yx commented on #25
- https://logosear.ch/ superfast metasearch of 200k svg logos from GitHub
- https://thenounproject.com/ Every icon you can think of, in PNG or SVG formats. They offer over 20 million icons, with built-in customization colors like size and color. Requires login, needs creative commons attribution or $3 download
- https://hotpot.ai/free_icons 5,000+ free icons. Customize colors, size, and other prop

[2020-07-06 19:52] cstrnt commented on #21
I’m gonna start working on that tomorrow :)

[2020-07-06 22:35] babycourageous commented on #25
Maybe we can come up with our category list here (not sure if it will wind up being different than what's currently at the MVP) then a text description of the icon to be on the hunt for?
I can get the ball rolling if that interests ya.

[2020-07-07 13:14] tanhauhau commented on #9
How about using airtable？ I can help with that.

[2020-07-07 16:58] stephane-vanraes commented on #23
Managed to fix it by adding:

[code]

to the rollup.config.js

[2020-07-08 08:40] kevmodrome commented on #23
Neat!

[2020-07-08 08:40] #23 closed

[2020-07-08 11:20] stephane-vanraes commented on #25
it's not only icons that fit with the category, they also have to fit with each other and the overall styling of the page

for categories we have

- **build setup** some construction material ? like a pile of bricks ?
- **components**
- **design patterns** cog wheel, machinery ?
- **other** we should try to get rid of this category all together imo
- **publishing and deploying** something with pap

[2020-07-08 11:34] stephane-vanraes opened #30 "Add svelte version to recipes"
Should we add a svelte version to recipes ?

This would make it clear for readers that if a recipe was last verified for version **3.13** and we are now **3.178** that it might be out dated.  If we add this, an additional change could be to during build check against the current svelte version and somehow mark the recipes that are a predefined number of versions behind with a little warning.

Pro:

[2020-07-08 13:20] kevmodrome commented on #30
There was also a good idea by @trbrc to also version dependencies. Say for example if the recipe involves postcss, there should probably be a version noted for that.

[2020-07-08 14:44] babycourageous commented on #25
@stephane-vanraes 100% on the fitting with each other.

[2020-07-08 20:54] Conduitry opened #31 "Docker recipe gives bad advice"
The Docker example at https://staging.sveltesociety.dev/recipes/publishing-and-deploying/dockerize-a-svelte-app has some issues. Using it as-is will include all of your dev dependencies in the built image. And using Node in production to serve static assets is also probably undesirable.

At the very least, this should use a two-stage Dockerfile, the second of which only installs production depende

[2020-07-09 10:43] stephane-vanraes commented on #19
How much of this has been resolved already ?

[2020-07-09 12:17] kevmodrome commented on #19
There are some things to touch-up on the sidebar, like the hover and active states, Then also some elements are screwed up a bit if you look at the recipes, [like here](https://staging.sveltesociety.dev/recipes/stores) if you look at the pink box, not sure what to do with that.

We also need to implement the warning/take-note/extra information boxes (the ones that have a color and a left border (d

[2020-07-09 12:19] kevmodrome commented on #31
Thanks for the review, I'm not very experienced with Docker, if anyone is this is up for grabs!

[2020-07-09 12:20] kevmodrome commented on #30
We could implement this as an action, probably. That way it would automatically be a sort-of progressive enhancement. I'm biased though, so open to other ideas 😬

[2020-07-09 12:22] kevmodrome commented on #21
@cstrnt did you managed to get started on this?

[2020-07-09 12:24] cstrnt commented on #21
@kevmodrome yes, I got quite some stuff done already. Right now im trying to make it look polished. Might be able to finish it tonight

[2020-07-09 12:43] kevmodrome commented on #31
Thinking a bit more about this, should we maybe have a recipe on how to deploy a Sapper app, rather than a Svelte app? It's probably true, as you say, that just deploying static stuff using docker is a bit odd.

[2020-07-09 13:53] antony commented on #31
@kevmodrome I'm unlikely to have any time, but the Svelte site itself has a working and secure docker config that could just be dropped in for starters.

[2020-07-09 17:44] sw-yx commented on #9
sure

[2020-07-09 18:40] kevmodrome commented on #19
This is now fixed, thanks to @stephane-vanraes in #32

[2020-07-09 18:40] #19 closed

[2020-07-09 19:02] kevmodrome commented on #31
Got it!

I'll see if I can find time and motivation this week-end (I'm starting to sound like a broken record at this point) to update this. Will look at the Svelte site one. Cheers!

[2020-07-09 19:03] kevmodrome opened #33 "Add line numbers to Code blocks in MDSveX"
I think line numbers needs to be a thing. It looks a bit odd at the moment without them. Maybe some adjustments to line-height and other font style stuff?

[2020-07-09 19:07] kevmodrome opened #34 "Adding a real recipes index page"
Do we want to add real recipes index page like the one in the [design](https://www.figma.com/file/CWyNLNaQI4yfHULrf1i4UC/Svelte-Society-Website?node-id=172%3A0) or is it better to go with what we currently have?

[2020-07-10 05:46] stephane-vanraes commented on #34
Currently the index pages for /recipes and /recipe/[category] are kind of dull, it would not harm to have something there.  For the category pages a description of what kind of recipes can be found there would be helpful (also aids contributors to place their recipe in the correct one)

[2020-07-10 07:24] kevmodrome commented on #34
Agreed! I think we should go ahead with the design I linked for `/recipes` i'm going to open that up as a good first issue

[2020-07-10 07:33] kevmodrome commented on #26
I'll go ahead and make this during the weekend

[2020-07-10 19:27] pchynoweth opened #35 "Recipes pages are unsuable on small screens"
The recipes pages don't fit on smaller screens.  The most obvious solution would be to enable flex wrapping and set a minimum width for the article.  I'm sure someone with a better eye for design can think of something better.

[2020-07-15 10:58] kevmodrome commented on #35
Yep! Currently the whole website is not particularly mobile friendly. It needs to be designed before we can build it!

[2020-07-21 09:26] stephane-vanraes commented on #35
#42 improves on  the layout by moving the reicpe-list on top for smaller screens.

This is still not  ideal though, as it introduces a large scroll requirement.
Further improvement could be to have them as a dropdown on small devices.

[2020-07-21 18:38] kevmodrome commented on #35
I think the latest merge might have been a bit to aggressive on the media query width

[2020-07-22 19:44] Wolfr opened #44 "Recipe code blocks do not show a monospaced font"
See screenshot.

<img width="813" alt="Screenshot 2020-07-22 at 21 42 59" src="https://user-images.githubusercontent.com/12690/88221233-7500bd00-cc64-11ea-97ec-056624c6d892.png">

[2020-07-22 19:45] Wolfr opened #45 "Repo name"
"site" is a bad name. When cloning I had to change it to something recognizable.

Suggestion: change `site` to `svelte-society-site`.

<img width="304" alt="Screenshot 2020-07-22 at 21 44 20" src="https://user-images.githubusercontent.com/12690/88221274-85b13300-cc64-11ea-9cff-b9a43576bbaa.png">

[2020-07-22 19:47] Wolfr commented on #25
Don't give yourself design problems you can't solve. What about no icons?

[2020-07-22 19:48] Wolfr opened #46 "Stores intro markdown problem"
<img width="975" alt="Screenshot 2020-07-22 at 21 48 14" src="https://user-images.githubusercontent.com/12690/88221661-1982ff00-cc65-11ea-9dd4-88941ce5eb06.png">

Stores intro has some markdown that is not parsed.

https://staging.sveltesociety.dev/recipes/stores

[2020-07-24 07:38] stephane-vanraes commented on #46
This is an issue with mdsvex, it does not parse the slotted content of inlined components.

We should write the links out in a regular way (or perhaps have a `Link` component to easily share styleing)

[2020-07-24 07:42] stephane-vanraes commented on #44
[prism.css line 29](https://github.com/svelte-society/site/blob/staging/static/prism.css#L29) has
[code]

but there is no definition for `--code-fs` nor `--font-mono`

I would propose to simply change the font family to the generic `monospace` instead

[2020-07-27 08:40] kevmodrome commented on #46
I believe this will be fixed in an upcoming version of MDSveX, but I think it's still pretty far off

[2020-07-27 14:10] darotar commented on #46
@kevmodrome I am not sure about fixing, found [an article](https://daringfireball.net/projects/markdown/syntax#html) that markdown doesn't even go inside html blocks

[2020-07-29 12:50] stephane-vanraes opened #47 "showcase page"
inspiration: https://www.gatsbyjs.org/showcase/

goal: draw attention to potential users of svelte that it can be more than 'toy projects'

projects submitted by PR

features:
- tagging projects (fashion, design, ...)
- curating a list of 'featured'

more discussion required

[2020-07-29 13:10] AnnieTaylorCHEN commented on #47
Maybe good to think about : who will be visiting this page? Agency? Clients? Tech lead who decides tech stack for new projects? Startup founders? Front-end developers who wants alternatives than bigger three?

Each group will have different knowledge background and focus. Clients will care about whether the use case also solves their own problem. Tech lead cares about whether they have enough hand

[2020-07-29 18:48] sw-yx commented on #47
great questions from Annie :) so is this a "pitch your boss" page? maybe that deserves a 1 page brochure rather than a showcase.

[2020-07-29 20:54] AnnieTaylorCHEN commented on #47
Hmm, I think that could do too. Maybe different pages for different audiences?

A good point to think about is also: What are the reasons people aren't picking Svelte for real-world production ready projects? Maybe need a bit more user research for that. If we can send a survey to tech leads or CTOs who made decisions on tech stack on new projects, we can get something to target on. At least I fee

[2020-07-29 21:24] stephane-vanraes commented on #47
Another thing we should not forget is who is going to add the pages, and the extra effort or thresholds goes with that.

In all likelyhood pages will be added by developers that worked on those projects.  Should we expect them to write something more substantial about the project ? (Looking back at the gatsby page, each sample only has an image, short text and some keywords)

[2020-07-29 21:35] AnnieTaylorCHEN commented on #47
For curated cases, we can have more details, maybe more screenshots or even video, description on benefits of Svelte provides for the projects etc. This will be probably less than 15-20. This should be maintained by Svelte-team. I can help with that! ^^

For other show cases, we can make a similar gatsby page. Developers submitted projects, someone reviews the PR, then merge. More people use that,

[2020-07-31 07:43] #44 closed

[2020-08-01 12:15] kevmodrome opened #49 "Design for Showcase page"
We need a design before we can get started implementing the Showcase page. The current design document for the site is here: https://www.figma.com/file/CWyNLNaQI4yfHULrf1i4UC/Svelte-Society-Website?node-id=35%3A2

If you are have a good eye for design and want to give it a shot, duplicate it and try making something cool! 👍

[2020-08-01 12:16] kevmodrome commented on #47
I'm thinking something like this: A "big" carousel-style" thing at the top that shows the featured sites/pages and then a list like the Gatsby one below that. We need to make sure it is visually different from the component listing page found here: https://staging.sveltesociety.dev/components. The current design document is here: https://www.figma.com/file/CWyNLNaQI4yfHULrf1i4UC/Svelte-Society-Web

[2020-08-01 12:17] kevmodrome commented on #45
I'm not sure this is a big enough problem, you can just `git clone svelte-society/site yourFolderNameHere`. Does GitHub automatically redirect if we change it? If so I'm fine with changing it! :)

[2020-08-01 12:56] Wolfr commented on #45
Yes - github will redirect!

Verstuurd vanaf mijn iPhone

[2020-08-01 13:21] stephane-vanraes commented on #45
In several projects I have seen the repo take it's name from the url, so in our case this would be `sveltesociety.dev` as repo name

[2020-08-01 13:23] Wolfr commented on #45
Great idea @stephane-vanraes !

[2020-08-01 14:13] kevmodrome commented on #45
Let's rename it to that, i'll sort it out.

[2020-08-01 14:13] #45 closed

[2020-08-01 21:06] kevmodrome commented on #46
fixed by #50

[2020-08-01 21:06] #46 closed

[2020-08-02 10:50] Wolfr opened #51 "Proposal: some more repo setup"
Let's improve the onboarding for newcomers to this repo.

This is what people will currently see:

![image](https://user-images.githubusercontent.com/12690/89121365-93658480-d4be-11ea-80f2-52b0d6894ef1.png)

* I would propose to link to https://sveltesociety.dev/ in the repo description so you can directly click through to the website

* In the About section I would change copy from

to

Within th

[2020-08-03 08:32] kevmodrome commented on #51
Good ideas! I'll update the description and and add a link to the site.

[2020-08-03 08:34] #51 closed

[2020-08-03 08:34] kevmodrome opened #52 "Improve the README"
We need to improve the readme to describe what the project is about, how to contribute, etc.

[2020-08-07 10:52] kevmodrome commented on #1
Closing because stale and not up-to-date at all. Will write a new one at some point 🙈

[2020-08-07 10:52] #1 closed

[2020-08-07 15:39] sw-yx commented on #1
ty

[2020-08-21 05:47] UnevenCoder commented on #52
I would love to help ... can I know more like how do you want it ?

Hierarchy of events etc
Thanks

[2020-08-21 05:48] UnevenCoder commented on #1
Can I know more on how the ui has to be made the goal

[2020-08-22 03:57] UnevenCoder opened #53 "I am not an expert but would love to help"
Can I know what all stuff is left ,where all beginners can contribute .. what's the final product looking like etc ?

Thanks for answering , looking forward to contributing

[2020-08-26 11:35] kevmodrome commented on #53
Hi there! We welcome any help. The final product isn't really decided on yet. One priority at the moment is probably to make the recipes page a bit more mobile friendly.

[2020-08-26 19:05] #35 closed

[2020-08-28 13:55] kevmodrome opened #58 "Add Plausible back to the master branch"
Plausible was accidently removed from the master branch when I merged the new site and thus we don't have any analytics anymore. This is a good first issue. This snippet needs to be added to the head tag to the html file:

[code]

[2020-08-28 17:23] UnevenCoder commented on #58
Is this done ?

[2020-08-29 07:34] kevmodrome commented on #58
Yes!

[2020-08-29 07:34] #58 closed

[2020-08-29 14:18] TheComputerM opened #60 "Recipe request for bench marking svelte components"
There is no real guide out there on a good way to benchmark different svelte components.

[2020-08-31 13:52] kevmodrome commented on #60
Sounds like a good idea! Do you want to give it a go?

[2020-08-31 14:05] TheComputerM commented on #60
I do not have much experience with benchmarking, but will give it a go.

[2020-08-31 14:08] TheComputerM commented on #60
Under which section (*build-setup/testing-and-debugging/...*) should I put the recipe in?

[2020-09-02 06:46] stephane-vanraes commented on #60
I would say benchmarking would fall under _testing/debugging_

[2020-09-04 11:31] frederikhors opened #62 "Docs: warning about optimization for $$restProps?"
Based on https://github.com/sveltejs/svelte/issues/5350 shall we add this warning in our recipe?

[2020-09-04 12:27] sw-yx commented on #62
sure!

[2020-09-13 20:52] ryanatkn commented on #60
Related, I've been looking for information and guidance about using the immutable compiler flag. I've been keeping it on and opting out when a component's data structures don't permit, but there's a lot of details I haven't figured out.

[2020-09-15 09:13] kevmodrome commented on #62
Looks like this was added! 👍

[2020-09-15 09:13] #62 closed

[2020-09-15 09:14] kevmodrome commented on #60
@ryanatkn that's interesting! What did you figured out so far? This would make a nice recipe IMO

[2020-09-15 09:15] kevmodrome opened #66 "Recipe request: Immutable flag and how it works"
Having read a comment by @ryanatkn in #60 it's dawning on me that we should have a recipe on how the immutable flag works, what it does, any performance implications, etc.

[2020-09-15 09:16] #53 closed

[2020-09-15 09:44] ChaitanyaGadodia commented on #34
Hi, I am picking this task as per the designs added above

[2020-09-15 10:06] stephane-vanraes commented on #66
I was just wondering the same, also regardig the work that has recently been done for 'will it scale ?'
As far as I know the immutable components have a lower footprint, so those would scale better ?
Guess this is more of a deepdive though, maybe one of the svelte contributors would be willing to work on this

[2020-09-15 10:57] kevmodrome commented on #21
This one also has mobile designs now: https://cln.sh/elJxc6

[2020-09-15 10:59] UnevenCoder commented on #21
media queries width ?

[2020-09-15 11:06] kevmodrome commented on #21
Use grid-template-columns, no need for media queries

[2020-09-15 11:11] UnevenCoder commented on #21
doing it

[2020-09-15 15:22] benmccann commented on #66
I recently asked the same question and Tan Li Hau explained to me.

The file size does not decrease for immutable components, but it may offer better performance.

It only affects https://github.com/sveltejs/svelte/blob/935caee2697deb6235af74d22fda60314527452d/src/compiler/compile/render_dom/index.ts#L112

which is whether to choose `not_equal` or `safe_not_equal` inside `$$invalidate` to determin

[2020-09-16 06:20] ryanatkn commented on #66
That's about the extent of my knowledge. That example demonstrates a compelling case to use the immutable flag when possible, because it significantly optimizes child components in a list. (likely one of the most common performance gotcha scenarios) The parent component could opt into mutability, and use mutable data structures like maps, without de-optimizing all of its children. (I think?)

Are

[2020-09-16 08:01] kevmodrome commented on #66
(my bad, updated the name Ryan 🙈)

[2020-09-16 17:32] kevmodrome commented on #21
The buttons need to be adjusted so that they take either full or half the space. Probably a good idea to split this out into it's own component?

[2020-09-16 17:42] UnevenCoder commented on #21
so basically kind of sticking em together ?

[2020-09-17 18:02] kevmodrome commented on #34
@ChaitanyaGadodia did you get started on this?

[2020-09-17 18:08] ChaitanyaGadodia commented on #34
No I haven't yet started, but I will submit the PR by Saturday evening. Swamped with work, will start first thing on Friday evening.

[2020-09-17 18:31] kevmodrome commented on #34
No stress, just wanted to see if you needed anything 👍

[2020-09-22 08:30] wesleymutwiri commented on #33
Hey @kevmodrome . I think I'd like to challenge myself and pick up this issue, if it hasn't been picked up already

[2020-09-22 18:59] kevmodrome commented on #33
Go for it!

[2020-09-23 14:55] sw-yx opened #71 "Add Code of Conduct"
https://events.vuejs.org/code-of-conduct/

[2020-09-23 15:40] #71 closed

[2020-09-23 16:52] Wolfr opened #73 "Site title"
We should change the title of the site to simply "Svelte Society"

The day was the event, this is over now ;)

<img width="561" alt="Screenshot 2020-09-23 at 18 52 13" src="https://user-images.githubusercontent.com/12690/94044032-ea584d80-fdcd-11ea-98c8-e3652adfed67.png">

[2020-09-23 16:53] Wolfr opened #75 "Add footer"
We should add a footer on every page that links to this repo.

Want to contribute? [link]

Maybe link the code of conduct in the footer and put it on a separate page?

What do you think?

[2020-09-23 16:53] sw-yx commented on #73
yea just noticed it too

[2020-09-23 16:55] sw-yx commented on #75
yes, we are thinking along exactly the same lines :) not sure if its in the designs yet but i'll work on this if someone doesnt get to it first

[2020-09-23 17:48] #73 closed

[2020-09-23 17:48] #75 closed

[2020-09-28 06:34] kevmodrome opened #81 "Move components over from Community to this repo"
We need to move over the components from the old Community site to this one. They can be found here: https://github.com/sveltejs/community/blob/master/data/code.yml

Should be put in a data folder in the root.

Requirments:
- It should be stored in a JSON format
- Make sure the data lines up with what is in the figma design: https://www.figma.com/file/CWyNLNaQI4yfHULrf1i4UC/Svelte-Society-Website?

[2020-09-28 09:54] stephane-vanraes opened #82 "Svelte Cheat Sheet"
Recently one of the users on Discord shared a Svelte Cheat Sheet (see attachment)

It could be nice to make something similar to put on the Svelte Society site, we can make it nice and printable with

[code]

[SVELTE_-_QUICK_TUTORIAL (1).pdf](https://github.com/svelte-society/sveltesociety.dev/files/5291396/SVELTE_-_QUICK_TUTORIAL.1.pdf)

original version by @Demysdcl

[2020-09-28 22:32] zygen commented on #81
I can do this (but I don't see a way to grab the issue).

To display the index, you would need `name`, `url`, `tags`, possibly `description` (I'm unsure on that one). `last_updated`, `stars`, and `downloads` are likely to be out of date, and the design doesn't seem to consider them, so they should be dropped?

If that's correct I'll do that transformation and store in $root/data/components.json

[2020-09-29 18:02] zygen commented on #81
Ok, it looks like I was looking at the wrong part of the figma design =)   So, indeed, description, and last_updated are used.  I'm unsure of what the number next to the github logo is for each component, though.  Is that supposed to be stars or downloads?  I'll keep all fields for now and start making that page.

[2020-09-29 19:12] zygen commented on #81
I think the data is the right shape now, I just need to figure out how to actually wire it in.

[2020-09-29 20:21] TheComputerM commented on #5
I created a awesome svelte list: https://github.com/TheComputerM/awesome-svelte
Transform JSON to markdown for easy maintainability: https://github.com/TheComputerM/awesome-svelte/blob/master/index.js

[2020-09-29 21:57] zygen commented on #81
PR https://github.com/svelte-society/sveltesociety.dev/pull/83 is getting closer.  Here are the most recent transform commands:

[code]

I've got the data in the correct shape and place, and wired up. Remaining things to take care of:

- Tags aren't rendering
- Categories and preview images will have to be populated somehow
- Need a method of keeping this list up to date
- Should the whole card be

[2020-09-30 07:02] sw-yx commented on #81
do whatever's convenient and we can tweak as we go 👍🏽

re: Need a method of keeping this list up to date - i think what we do here is make it super clear how to submit a PR to update

[2020-09-30 10:22] TheComputerM commented on #60
Cannot figure out how to properly benchmark the components. This might be useful: https://web.dev/rail/

[2020-09-30 17:05] #81 closed

[2020-10-17 19:21] frederikhors opened #84 "Is there something like Vuex for Svelte 3?"
**Is there something like Vuex for Svelte 3?**

Since I am tired of using GraphQL and want to go back to using classic REST API I would like something to help me in the browser just as the Apollo cache-store has helped me so far.

Especially for persisting in the browser between one session and another of the user.

I opened this: https://stackoverflow.com/questions/64755014/agnostic-data-store-or

[2020-10-18 00:03] sw-yx commented on #84
why not use svelte stores?

[2020-10-18 10:07] frederikhors commented on #84
Yes, that's the idea. But I'm trying to figure out if there is anything more advanced already done.

This is a great article: https://willwillems.com/posts/store-design-in-svelte.html on the subject.

But maybe I can have a look at this too: https://overmindjs.org/views/svelte.

What do you think about?

[2020-10-18 18:15] sw-yx commented on #84
no opinion!

[2020-10-19 19:55] sw-yx opened #85 "Svelte Style Guide?"
inspo from https://v3.vuejs.org/style-guide

[2020-10-30 13:02] websocket98765 opened #87 "Sveltik suggestion for Form Validation"
Great site!

Wanted to suggest a module for [Form Validation](https://sveltesociety.dev/recipes/component-recipes/form-validation-with-svelte) which produces even cleaner code: [Sveltik](https://github.com/nathancahill/sveltik). It's based on React's [Formik](https://github.com/formium/formik). Very easy to use.

[2020-10-30 13:22] websocket98765 commented on #87
[svelte-forms-lib](https://github.com/tjinauyeung/svelte-forms-lib) looks _very_ similar and also reasonable.

[2020-10-30 18:53] sw-yx commented on #87
cool. we need volunteer dev time to add all these things.

[2020-10-31 02:51] websocket98765 commented on #87
As an alternative to mini-tutorials, maybe you could just liist a "best" lib name and list others as alternatives. That would add the most value imo & save time, not repeating the 'how to' part found in lib ReadMe's

[2020-10-31 10:12] frederikhors commented on #87
"Best" means nothing.

[2020-10-31 11:24] antony commented on #87
Agree with @frederikhors - "best" is subjective and disingenuous to other library authors.

[2020-10-31 15:07] websocket98765 commented on #87
:eye roll: guys

Would we want or need a diverse ecosystem of svelte/head, svelte/store, svelte/animate libs? No, fortunately we a canonical version of those.

Now how about frameworks...why do they even exist? To give set of best tools as defined by the creator of the framework.

The sorting value is what is valuable.

Otherwise, may as well search Github and each of us individually spend time ev

[2020-10-31 15:07] websocket98765 commented on #87
Anyway, closing. Please don't get hung up on semantics and lose the point being made.

[2020-10-31 15:07] #87 closed

[2020-11-08 17:41] MacFJA commented on #5
What is the list of component category?
Currently there are only 3: `"ui"`, `"forms"` and _undefined_ (`""`)

The list I propose (still incomplete, lots of component don't fit any of these):
 - **Boilerplate** (Project template)
 - **Data Visualisation** (Grid, Table, Graph, etc.: Display dataset to users)
 - **Design Pattern** (Component to help solving a common design problem)
 - **Developer Exp

[2020-11-08 21:20] frederikhors opened #89 "Something like this for Svelte?"
Do you know if there is something like this for Svelte?

https://swr.vercel.app

[2020-11-09 13:51] sw-yx commented on #89
no but doublecheck on the Discord before making it!

[2020-11-09 13:52] #89 closed

[2020-11-09 13:52] sw-yx commented on #5
LGTM

[2020-11-09 13:55] frederikhors commented on #89
I think those are only a way to block that name. It's the same author and a fake package. We should "report" that to npm. This is not fair behavior.

[2020-11-09 14:14] sw-yx commented on #89
yes, npm support is very responsive. if youre interested in doing that just email them.

[2020-11-23 01:49] Conduitry commented on #31
This does appear to have been fixed some time ago, but never closed.

[2020-11-23 01:49] #31 closed

[2020-11-23 05:39] sw-yx commented on #12
this is done

[2020-11-23 05:39] #12 closed

[2020-11-23 05:40] sw-yx commented on #11
let's reopen this when necessary.

[2020-11-23 05:40] #11 closed

[2020-11-23 05:41] sw-yx commented on #21
this is being worked on by #88

[2020-11-23 05:42] #34 closed

[2020-11-23 05:43] sw-yx commented on #52
we should still work on the Readme 👍

[2020-11-23 06:30] sw-yx commented on #49
still vlaid

[2020-11-23 06:32] sw-yx commented on #25
will put this discussion on ice for now since we have a kinda working recipe page

[2020-11-23 06:32] #25 closed

[2020-11-23 06:34] sw-yx commented on #15
thoughts?

[2020-11-23 06:36] sw-yx commented on #16
we have a more active blog on svelte.dev thanks to @d3sandoval, so now perhaps less necessary?

[2020-11-23 06:36] #16 closed

[2020-11-23 06:36] sw-yx commented on #47
keeping this open

[2020-11-23 06:37] sw-yx commented on #30
seems like an easy one to do, keep open

[2020-11-23 06:38] sw-yx commented on #66
I still have never used the immutable flag  would love a recipe hehe

[2020-11-23 06:39] sw-yx commented on #26
do we have a working repl component yet kev?

[2020-11-23 06:39] sw-yx commented on #33
still needed

[2020-11-24 11:45] #2 closed

[2020-11-24 11:48] sw-yx commented on #3
think we already have this one sorted

[2020-11-24 11:48] #3 closed

[2020-11-24 11:49] sw-yx commented on #4
think we still have some parts to go here but the latest work is https://github.com/svelte-society/sveltesociety.dev/pull/88 and now https://github.com/svelte-society/sveltesociety.dev/pull/90

[2020-11-24 11:50] sw-yx commented on #6
recommend keeping these as little recipes

[2020-11-24 11:53] sw-yx commented on #8
i think we transferred the recipes accordingly so we're good here

[2020-11-24 11:53] #8 closed

[2020-11-24 11:56] sw-yx commented on #9
this is possibly one of the most important functionality still not yet on the site. i should try to work on this.

[2020-11-24 12:41] sw-yx commented on #10
definitely still keen on pulling data from MWS, i love how they surface good stuff

[2020-11-28 05:03] sw-yx commented on #82
let's keep this open

[2020-11-30 06:54] sw-yx commented on #60
nice to have, but i also have no idea how to benchmark (or what we are benchmarking)

[2020-11-30 10:21] TheComputerM commented on #60
1) Time taking for component to render.
2) Response time after event is fired
3) How much resources is the component consuming.

[2020-12-02 01:53] #6 closed

[2020-12-02 19:03] AnnieTaylorCHEN commented on #47
It's been a while.... took me a while to onboard with the job. Do we have a team where you can add me and we can reuse component in the team? I think it would be easier to gather all the designs under one roof.

[2020-12-07 11:52] #21 closed

[2020-12-12 17:15] MacFJA opened #94 "Component: Update stars count automatically"
Today the number of stars of every components are hardcoded in [src/pages/components/components.json](https://github.com/svelte-society/sveltesociety.dev/blob/master/src/pages/components/components.json), and don't reflect the real number of stars over time.

Stars count should be regularly updated. (Once a day ?)

There are several way to get the data:
- with npm dependencies ([@octokit/rest for

[2020-12-12 17:23] MacFJA opened #95 "Component: Improve new component submission"
The number of components doesn't seem to change a lot.

Maybe the process to add a new component is too complicated or bothersome

Should we rethink how components are added ?

----

The current process to to open a PR on the project to edit the [src/pages/components/components.json](https://github.com/svelte-society/sveltesociety.dev/blob/master/src/pages/components/components.json) with all the

[2020-12-13 16:02] sw-yx commented on #95
agree, i would like to make it easier

[2020-12-19 16:27] sw-yx commented on #85
just gonna bin this for now to focus on overall site health

[2020-12-19 16:27] #85 closed

[2021-01-02 15:19] Isaac-Tait opened #98 "Cannot GET / error"
After forking the repo and running the commands as specified in the README.md doc (`npm install` & `npm run dev:nollup`) when I navigate to localhost:8080 I get the error: **Cannot Get /**

My Firefox Dev Ed tools show three errors:

`404 Not Found`
`Content Security Policy: The page’s settings blocked the loading of a resource at inline (“default-src”).`
`Content Security Policy: The page’s setti

[2021-01-03 04:31] sw-yx commented on #98
hmm. i can replicate from a fresh install. this seems to be a new regression as i didnt use to have this on my old machine. will check whats going on...

[2021-01-03 12:02] silentworks commented on #98
The rollup setup seems fine, its just nollup that has an issue.

[2021-01-03 16:56] Isaac-Tait opened #99 "Typos and improper grammar"
I noticed a few grammar issues and typos. I am creating this issue so I can comply with the contribution guidelines. I will submit a PR shortly.

[2021-01-03 16:59] Isaac-Tait commented on #99
The contribution guidelines state I should submit my pull request to the `staging` branch. However, I do not see the `staging` branch. Just `addBenchmarkingRecipeStub` and `feature-convert-to-svite`. Is it okay to submit to `master` or am I missing something?

[2021-01-03 17:07] peopledrivemecrazy commented on #99
Create a new branch in your repo and make a new PR.

[2021-01-04 00:25] #99 closed

[2021-01-04 20:18] sw-yx commented on #98
hey @Isaac-Tait, silentworks fixed it :) https://github.com/svelte-society/sveltesociety.dev/pull/101

[2021-01-04 20:18] #98 closed

[2021-01-05 14:50] Isaac-Tait commented on #98
The fix is looking good on my end 👍🏼

[2021-01-06 00:43] Isaac-Tait commented on #82
I would like to take a crack at this.

[2021-01-07 00:10] sw-yx commented on #82
so the Svelte Brasil folks built this out: https://sveltebrasil.dev/#/cheat

if you have a different vision for how it should look, then be my guest, otherwise i would suggest helping them improve theirs, and then linking from us to them so that it builds global community collaboration

[2021-01-08 20:10] HAUDRAUFHAUN opened #103 "feature: event section"
In the description of this repo stands that the website includes information about events. Would it make sence to build a section for the previous and the future events? I would imagine that like the [component page](https://sveltesociety.dev/components) but for events/meetups.

[2021-01-09 15:33] kevmodrome commented on #103
Sounds like a cool idea! I'd make it more "listy" though, rather than big cards for each event. You're welcome to give it a try :)

[2021-01-09 17:05] HAUDRAUFHAUN commented on #103
Ok I'll try to work on it

[2021-01-13 13:21] kevmodrome commented on #103
Thanks for the help on this!

[2021-01-13 13:21] #103 closed

[2021-01-13 20:18] geoffrich opened #108 ""Sign up" button on Recipes page does nothing"
The "Sign up" button on the [Recipes page](https://sveltesociety.dev/recipes) currently does nothing. Is there an existing page this should link to?

![image](https://user-images.githubusercontent.com/4992896/104505861-69e67400-5599-11eb-8428-99aaaa5b524c.png)

[2021-01-14 09:32] stephane-vanraes opened #109 "Links to society"
Spread the word and build communities!

The svelte society site should list links to societies wordwide so we can encourage community building. Adding new entries should be easy, so perhaps it can be build from a json file ?
[code]

Questions:

Where to feature ?
Can we make this prominent on the frontpage ? "Looking for a Svelte Community near you ?"
Add some text on how to get your community lis

[2021-01-14 19:59] HAUDRAUFHAUN commented on #109
I will try to find a solution for it 😃

[2021-01-15 18:21] HAUDRAUFHAUN commented on #109
![Screenshot_2021-01-15  Events - Svelte Society](https://user-images.githubusercontent.com/47633893/104763704-9a2f3d80-5766-11eb-9d03-3f58b9fc7482.png)

Here you get a preview of my solution. What dow you think about it?
The data Model for the societys actual looks like:
[code]
but i think its expandable with thinks like organisators of the communities f.e.

[2021-01-15 19:09] sw-yx commented on #109
this looks really good!

[2021-01-15 19:12] sw-yx commented on #108
no not that I know of - we should probably change "sign up" to "file an issue" on this repo

[2021-01-15 19:13] sw-yx commented on #84
i'm going to say no, theres no vuex for svelte 3 yet. feel free to write one :)

[2021-01-15 19:13] #84 closed

[2021-01-15 19:16] HAUDRAUFHAUN commented on #109
yes this could be a nice feture @sw-yx

[2021-01-15 19:54] kevmodrome commented on #109
I'll close this, thanks for the PR!

[2021-01-15 19:54] #109 closed

[2021-01-16 11:48] HAUDRAUFHAUN commented on #108
I will have this issue resolved in my next PR

[2021-01-16 12:24] HAUDRAUFHAUN commented on #108
![Screenshot_2021-01-16  Recipes - Svelte Society(1)](https://user-images.githubusercontent.com/47633893/104811745-fd1fe380-57fd-11eb-97e8-e4d93dc82a02.png)

Now it looks like this. The "Button" is an anker element the links directly to [https://github.com/svelte-society/sveltesociety.dev/issues/new](https://github.com/svelte-society/sveltesociety.dev/issues/new)

[2021-01-16 16:56] HAUDRAUFHAUN commented on #108
Issue resolved with #113. I close it.

[2021-01-16 16:56] #108 closed

[2021-01-16 23:37] Demysdcl commented on #82
Hello, I made this site:
https://sveltebrasil.dev/#/cheat
I can replicate it in your site!

[2021-01-17 11:19] HAUDRAUFHAUN commented on #82
maybe this could be a new section just with this windows in it a solution to download it as pdf?

[2021-01-17 23:09] Demysdcl commented on #82
https://github.com/svelte-society/sveltesociety.dev/pull/118

[2021-01-19 01:29] Isaac-Tait commented on #52
I can take a crack at this and submit a draft in a few days if it would be helpful.

[2021-01-19 08:42] HAUDRAUFHAUN commented on #9
#111 should have implemented it now to the page.

[2021-01-19 08:55] HAUDRAUFHAUN commented on #10
I think this could be something that we make on a new design index page. Maybe like [svelte.dev](https://svelte.dev)

[2021-01-19 16:56] geoffrich opened #125 "Both npm and yarn used in project"
The README says to use yarn to run the site:

However, all the pipeline files (netlify.toml, github/workflows) use npm (see screenshot of search results below)
![image](https://user-images.githubusercontent.com/4992896/105067048-32ae1200-5a34-11eb-90e4-90ead03441da.png)

Both `yarn.lock` and `package-lock.json` are committed to the repo. Running `yarn` logs an error to the console about this.

Sin

[2021-01-19 17:02] sw-yx commented on #82
its merged

[2021-01-19 17:02] #82 closed

[2021-01-20 21:23] geoffrich commented on #125
Resolved in #128

[2021-01-20 21:23] #125 closed

[2021-01-20 22:09] sw-yx commented on #52
thanks so much Isaac :)

[2021-01-20 22:09] #52 closed

[2021-01-21 00:44] Isaac-Tait commented on #33
Just starting the conversation, as I am taking a look at this - but, I came across [this](https://hackmd.io/fUJe6nwNTvOKhWXlKs6gzw) via StackOverflow... Might be a solution???

[2021-01-21 00:47] Isaac-Tait opened #129 "Failed to init component"
After running `npm run dev` (not `npm run dev dev` which is what the CONTRIBUTION.md doc says... typo maybe?). I am able to run on localhost 5000. However, when I click **Recipes** or **Events** I get this error:

[code]

Came across this while working on issue #33 Is anyone else able to replicate it?

[2021-01-21 07:33] HAUDRAUFHAUN commented on #129
This issue is caused by an routify update. We try to fix this 👍🏻

[2021-01-21 14:19] HAUDRAUFHAUN commented on #129
The latest routify updates should resolve this. It's working now, so I'll close this issue.

[2021-01-21 14:19] #129 closed

[2021-01-21 14:22] HAUDRAUFHAUN opened #131 "Layout: components for nav and footer"
I want to suggest to moving the navbar and the footer into extra svelte files, because the main layout is getting overloaded (especially the style section). I would work on this but I first wanted to hear your thoughts.

[2021-01-21 14:53] #131 closed

[2021-01-21 19:15] HAUDRAUFHAUN opened #136 "Recipes Icons"
At the recipe index the Icons seem all to be one single instead of customs for each categorie like a docker icon for the hosting section. So it could be nice

- [x] if we would use the icon component instead of a svg file
- [x] if we add a prop to the icon component to control the size

I could work on this but first I wanted to get feedback about this idea.

[2021-01-21 19:18] kevmodrome commented on #136
TThis sounds like a good idea! I would take a look at Amelia Wattenbergers icon component for inspiration: https://svelte.recipes/components/icon

[2021-01-22 07:16] peopledrivemecrazy opened #139 "Call for ideas for a sleek design for cheatsheet page"
I was discussing with my friend if there was a way to improve the page he came up with this

![image](https://user-images.githubusercontent.com/3922469/105458963-75c7e980-5caf-11eb-8d15-0b70f3342f95.png)

A search bar too could be a great addition to navigation I can recommend this https://github.com/roxiness/poindexter

The original design is at #4

[2021-01-23 09:38] sw-yx commented on #30
i now think this is unnecessary. we dont break api's that often. we should call out if a recipe takes advantage of a new feature but just make it easy for people to report breakages in recipes.

[2021-01-23 09:38] #30 closed

[2021-01-23 14:59] HAUDRAUFHAUN commented on #136
Resolved by #140.

[2021-01-23 14:59] #136 closed

[2021-01-23 15:25] HAUDRAUFHAUN commented on #139
I would to a crossover between the actual and this design (I would still use the mac-like three circles in the corner)

[2021-01-23 16:25] Isaac-Tait commented on #139
I second the mac like circles. I would make the card height dependent on content instead of uniform height - the dead space at the bottom looks a little off to me. Overall though I think Svelte Brasil did a solid job on it...

[2021-01-25 21:12] sw-yx opened #150 "Recipe request: dynamically importing a Svelte component"
based on @higsch's request: https://twitter.com/h_i_g_s_c_h/status/1353809757602197506

i think it is a mix of:

- svelte component template: https://github.com/sveltejs/component-template
- `svelte:component`: https://svelte.dev/tutorial/svelte-component

but am also wondering if the default webpack/rollup loaders would already handle this seamlessly. not sure

[2021-01-25 21:17] higsch commented on #150
I think it is the way @Rich-Harris is importing and embedding components at the NY Times.
[code]
But I have no idea how I would need to compile my component to be working with this pattern.

[2021-01-25 21:57] higsch commented on #150
Oh, I think it works with `index.mjs` from https://github.com/sveltejs/component-template.

[2021-01-26 14:11] sw-yx commented on #150
@higsch i saw from twitter that you managed to solve it right? do you think it's worth writing up a solution? til now i'm not 100% sure what your requirements were heheh

[2021-01-26 14:15] higsch commented on #150
Yep, I solved it. It has simply been taking the `index.mjs` instead of the `index.js` from the compiled component template. I used it for a project which will be published soon, then I can link this here.

[2021-01-27 16:52] HAUDRAUFHAUN commented on #139
I don't know if this is a good idea, but I just wanted to share it with you to get feedback. I used blue for the header, because then the mac buttons have a better readability:
![Bildschirmfoto 2021-01-27 um 17 50 43](https://user-images.githubusercontent.com/47633893/106024675-4c042d80-60c8-11eb-8661-932e99efe3c5.png)

[2021-01-27 17:35] peopledrivemecrazy commented on #139
Did you use `var(--color-secondary)` it is easier on the eyes tho.

[2021-01-27 17:37] HAUDRAUFHAUN commented on #139
Ok, thank you for the hind, now I use that.

[2021-01-27 17:42] Isaac-Tait commented on #139
The blue does pop rather nicely on the screen. 💯

[2021-01-27 17:53] HAUDRAUFHAUN commented on #139
What is with making the single 'windows' hidable with clicking on the mac-dots? Should I implement this also?

[2021-01-27 17:57] peopledrivemecrazy commented on #139
We can do this on the next incremental update; also we could work on something like [this (discord chat)](https://discord.com/channels/457912077277855764/728292755087818924/802077163784241182).

[2021-01-28 20:12] HAUDRAUFHAUN opened #156 "Recipes: Use docker-compose"
I want to get feedback about the idea writing a recipe about how you can use docker-compose with your svelte project, maybe already for development so that it's easier to get started if you want to use database systems e.g. with your svelte application.

[2021-01-31 19:57] HAUDRAUFHAUN opened #159 "Update stars workflow isn't running yet"
I just want to report that the workflow from #146 isn't running on the repo yet...

[2021-02-01 01:05] mikeesto commented on #159
It's not in the master branch yet, should be picked up as a workflow once it lands

[2021-02-02 21:23] Demysdcl commented on #139
I updated the Svelte Brasil site with this sugestion:

https://sveltebrasil.dev/#/cheatsheet

[2021-02-03 22:32] sw-yx commented on #15
i reckon we let this slide for now, not a high priority in my mind.

[2021-02-03 22:32] #15 closed

[2021-02-03 22:34] sw-yx commented on #26
this work is now being tracked on #93 and pending decisions on the REPL

[2021-02-03 22:35] sw-yx commented on #49
just going to consolidate this on #47

[2021-02-03 22:35] #49 closed

[2021-02-03 22:37] sw-yx commented on #60
we have a recipe stub - if people can contribute this lets let them reopen later. i dont particularly have any ideas on benchmarking beyond whats already listed in #91

[2021-02-03 22:37] #60 closed

[2021-02-07 03:58] mikeesto commented on #159
Well the action ran today but wasn't able to commit the changed json file as "at least 1 approving review is required by reviewers with write access". Heavily discussed here and unfortunately not an easy fix: https://github.community/t/how-to-push-to-protected-branches-in-a-github-action/16101/35Bit .

One potential solution is to create an "admin" user that has admin writes to the protected branc

[2021-02-07 21:45] sw-yx commented on #66
took a first stab at the immutable recipe :) i think pretty much what was transcribed here is enough https://github.com/svelte-society/sveltesociety.dev/pull/167

[2021-02-07 21:46] sw-yx commented on #5
this was done by MacFJA :) #88

[2021-02-07 21:46] #5 closed

[2021-02-07 22:02] MacFJA commented on #159
Should we commit to this repo every time the workflow is run ?
It's like spamming the git history 🤔
Don't we risk to have conflict with new components additions ?

Maybe the stars list should be in a not committed file ?

[2021-02-09 16:03] frederikhors commented on #66
I have read all the text in https://github.com/svelte-society/sveltesociety.dev/pull/167 and I wanna thank you very much, @sw-yx: it is clearer than the tutorial and the docs on the Svelte website.

But I would like there also what is NOT recommended to do, e.g.:

`"Since it is better (faster) to use the `immutable` option in lists, this is WHAT YOU SHOULD NOT DO, what is WRONG (slower) to do:" `.

[2021-02-10 08:04] antony opened #172 "Hey you, martial arts fan"
How would you like to get your guts kicked out?

[2021-02-10 08:04] #172 closed

[2021-02-10 13:04] ronvoluted commented on #172
Hey I was going to assign myself to this.

[2021-02-11 02:01] #26 closed

[2021-02-11 02:01] #4 closed

[2021-02-15 09:27] HAUDRAUFHAUN opened #178 "Recipes: Data fetching // Graphql queries"
I just wanted to ask if it would make sense to add a recipe or cheatsheet card about datafetching or using svelte with grapqhl.

[2021-02-19 02:03] #95 closed

[2021-02-19 09:19] sw-yx commented on #66
@frederikhors yes thats a good idea and would make the recipe more useful!!

[2021-02-19 11:52] frederikhors commented on #66
@sw-yx I don't know where to start: hence my question for more clarity.

[2021-02-20 09:44] sw-yx commented on #66
haha i dont know either. will leave this open in case anyone wants to tackle it - i honestlydont really know bc i dont use immutable enough

[2021-02-22 09:06] kevmodrome commented on #139
Closing since this was implemented and merged :)

[2021-02-22 09:06] #139 closed

[2021-02-27 17:23] Isaac-Tait commented on #33
So, my idea is to use a remark plugin that would allow line numbers within the MDSveX engine (according to the [MDSveX docs](https://mdsvex.com/docs#remarkplugins--rehypeplugins) remark plugins are supported and offer customization for specific features). I think this solution would be more robust than CSS as it would provide functionality across a wide variety of setups.

I pinged the remark idea

[2021-02-27 17:28] kevmodrome commented on #33
This would be much appreciated, go ahead!

[2021-02-28 02:09] #66 closed

[2021-03-01 17:58] sw-yx commented on #33
i'm fine with it too! i've never done this myself so would be interested to see your impl @Isaac-Tait

[2021-03-06 19:46] frederikhors opened #190 "Debounce on text input"
For the first time only today I noticed that an efficient example of debounce on text input is missing.

Is there anyone who can write a good example in recipes?

[2021-03-06 20:01] kevmodrome commented on #190
Not sure it makes sense as a specific recipe, maybe a longer form article on different ways of doing debuncing? In-component, action, store, etc?

[2021-03-06 21:07] frederikhors commented on #190
@kevmodrome.

I found some here: https://github.com/sveltejs/svelte/issues/884.

[2021-03-07 10:18] MacFJA commented on #190
Also, not a long ago **lihautan** release a video about High Order Store, [one of them is a debouce](https://youtu.be/p1aPfVyZ1IY?t=235)

[2021-03-08 15:04] Isaac-Tait commented on #33
I have been steadily working away at this between other big projects. I think my idea could work, but perhaps my overall understanding of Svelte is holding me back. So, I would like to discuss what I have come up with so far and see if y'all can see why my implementation is not working (my apologies in advance for the long post.).

First off if you look at `node_modules` -> `prismjs` -> `plugins`

[2021-03-08 19:13] kevmodrome commented on #33
Nice idea about the click to copy thing.

When it comes to implementing the line numbers I think this is where you want to look: https://github.com/svelte-society/sveltesociety.dev/blob/staging/src/layouts/Recipe.svelte - that's the layout file for the MDSveX library that's used on the Recipe pages. You might also want to take a look at the MDSveX docs: https://mdsvex.com/docs

[2021-03-08 22:33] sw-yx commented on #33
ya amen to that. MDSveX is where the ````` transforms to `<code>`. you'll want to hook in after that. mdsvex lets you use [remark plugins](https://github.com/remarkjs/remark/blob/main/doc/plugins.md#list-of-plugins), which let you [use prism](https://github.com/sergioramos/remark-prism), which let you use the `line-numbers` prism plugin.

yes, we'd be going 4 plugin systems deep. 😂  but i bet you

[2021-03-11 01:45] Isaac-Tait commented on #33
@kevmodrome @sw-yx Thank you for the encouragement and guidance. I will start reading and take another crack at this 👍🏼

[2021-03-13 21:16] antony opened #192 "Injecting a Svelte component into an existing site"
Grabbing this from https://github.com/sveltejs/svelte/issues/4783

I'll open a PR shortly or maybe @lingtalfi wants to. I appear to have asked for corrections and closed the issue on Svelte, and then never followed up, so please accept my apologies!

[2021-03-15 08:46] mithrendal commented on #192
thanks @antony for opening this issue.

The background here: when having to develop new stuff to an quite large existing legacy webapp, and you want to use svelte to do that. E.g. integrating svelte dialogs or components into that existing app, whats the proper way to do it?

I tried the recipe of @lingtalfi ... although it works fine and answers this issues title, it does so only for "flat" svelt

[2021-03-23 16:13] sw-yx commented on #9
ok LGTM

[2021-03-23 16:13] #9 closed

[2021-03-28 02:25] #10 closed

[2021-03-29 02:07] alexgagnon commented on #192
I can confirm that local nested Svelte components work, however I'm having a hard time referencing one from the another package and not use globals/externals (i.e. I want to include the code for that component). For example, I have a local component library (examples.svelte), and I'm trying to include one in another project that I'd like to inject. This could be my limited knowledge of Rollup or s

[2021-03-31 16:18] sw-yx commented on #156
i think it'd be nice but also not a very high priority since docker is at quite a different layer. looks like we have https://sveltesociety.dev/recipes/publishing-and-deploying now anyway

[2021-03-31 16:18] #156 closed

[2021-03-31 16:19] #94 closed

[2021-04-04 02:31] #150 closed

[2021-04-05 16:20] frederikhors opened #203 "recipes: add a small one on a good PurgeCSS / Tailwind extractor for Svelte CSS classes"
I opened https://github.com/sveltejs/kit/issues/891.

[Apparently](https://github.com/sveltejs/kit/issues/891#issuecomment-813478973) @babichjacob doesn't like it.

Can we add a recipe for Tailwind here?

The problem with personal projects - like his own - is that sooner or later they vanish. A collection of recipes like yours has an official role and is maintained over time.

But apparently this

[2021-04-05 18:56] kevmodrome commented on #203
I don't think it has much to do with anyone liking it or not, It's just that it probably doesn't make sense to have it in the docs. It does make more sense here.

It's probably a good idea to have a recipe category that contains more in-depth information on how to integrate with other libraries and frameworks. The one downside to this is that I have a suspicion that it might get out of date pretty

[2021-04-12 02:30] #47 closed

[2021-04-16 02:28] #159 closed

[2021-04-17 11:06] HAUDRAUFHAUN commented on #178
I've seen that data fetching is already there, when I have time I will add a guide for graphql too.

[2021-04-17 11:06] #178 closed

[2021-04-23 21:39] sw-yx commented on #178
thanks Haudraf, sorry i didnt respond till now haha

[2021-05-01 05:55] kevmodrome opened #218 "Fix components.json"
There have been a lot of packages with odd tags merged. This needs to be fixed, Master and Staging need to sync up as well. Going to take a look at this later today so I can start merging more stuff.

[2021-05-01 08:39] MacFJA commented on #218
Maybe a new (automatic) validation step on PR should be added ? 🤔

Like checking if the list of tags and categories in the components.json doesn't contains values that are not predefined.
(So a new file containing the list of allowed tags and categories need to be added)

Or adding a [JSON-schema](https://json-schema.org/) file for data and structure validation

[2021-05-01 10:25] MacFJA commented on #218
<details>
<summary>Here one possible JSON-Schema (that don't validate the current <code>components.json</code> file):</summary>

[code]

</detaiils>

[2021-05-02 22:10] benmccann opened #221 "Size -> button has no effect"
There's a button at the top of https://sveltesociety.dev/components/ that says "Size ->".  I don't notice anything happening when I click it. I'm running on Chrome

[2021-05-02 22:24] benmccann opened #222 "Search box looks disabled"
If you hover over "Tags ->" on https://sveltesociety.dev/components then there's a search box at the top of the list. I really like this, but missed that it was there the first few times because it's grayed out, which makes it look disabled. It sort of just looked decorative and I didn't even realize it was a search box. I think that what GitHub does here to filter issues by label or author is nic

[2021-05-06 04:26] benmccann opened #223 "Use SvelteKit ?"
I noticed the site doesn't use SvelteKit, so I was curious what folks thought about trying out the hot new kid on the block

[2021-05-06 06:24] kevmodrome commented on #223
I actually started working on this on Monday, so far I've got the index page and cheat sheet converted! :)

[2021-05-11 01:46] Isaac-Tait commented on #33
Apologies this is still on my radar. I got close to a plug-in solution. Will get on this ASAP

[2021-05-11 13:34] Isaac-Tait commented on #33
@stephane-vanraes Thank you for the heads up I was not aware of a new system coming online for mdsvex. Where can I learn more?

[2021-05-12 10:41] stephane-vanraes commented on #33
Not sure where you can find more information on this, there was some talk on the discord and some hints in an issue on the mdsvex repo itself.

[2021-05-12 18:32] babichjacob commented on #33
[This is the issue](https://github.com/pngwn/MDsveX/issues/242#issuecomment-835824797). Not sure if a more dedicated issue or discussion post is going to be made with time.

[2021-05-12 19:32] Isaac-Tait commented on #33
@babichjacob Thank you very much, interesting developments. I will follow closely and see how it is implemented.

[2021-05-13 03:50] benmccann opened #224 "Component sorting"
It'd be nice to show the components sorted by stars or forks. Right now the order seems somewhat arbitrary to me

[2021-05-13 07:21] kevmodrome commented on #224
Yes, this will be something I add as I keep working on the new site

[2021-05-13 09:08] #224 closed

[2021-05-13 18:47] benmccann commented on #223
@kevmodrome I missed your comment until now. I've seen people use `import.meta.glob` for that in SvelteKit

Example: https://github.com/mvasigh/sveltekit-mdsvex-blog/blob/4cde064ece9c742b4c30949c440f582468afe0dd/src/routes/index.svelte#L2

Vite docs: https://vitejs.dev/guide/features.html#glob-import

I'm not 100% sure I understood, so let me know if that addresses the issue or if there's some fun

[2021-05-13 18:51] benmccann opened #230 "Search box breaks if no results are found"
On https://sveltesociety.dev/components/ under "Tags ->" if you type something that's not found like "zz" then the menu disappears and you can only get it back by refreshing the page

[2021-05-13 18:58] kevmodrome commented on #223
Yeah that would work in this case, I suppose. It's just much easier in Routify: https://routify.dev/docs/helpers#layout

In general I think Routify has functionality that makes it a lot faster to access parents, children, siblings, etc.  For example, get the parent, siblings, children, etc. I'm not sure it's even possible to do in SvelteKit?

[2021-05-13 19:01] benmccann opened #231 "Suggestions for "Boilerplate" category"
If you scroll down on https://sveltesociety.dev/components/ there's a category called "Boilerplate". I only found this by accident and wouldn't expect it to be on a page called "Components". We could either rename the page to "Code" like it was on the old community site or separate this section out onto its own page.

I'd like to consider at least partially deprecating https://github.com/sveltejs/

[2021-05-13 20:11] MacFJA commented on #230
I see what the issue is : with no elements matching, the popin menu width is `0`.

I will add a `min-width` so the popin menu is always visible

[2021-05-13 22:28] benmccann commented on #223
I've seen several blogs built on SvelteKit that solve basically this same issue. Here's a few I found that hopefully would be good examples.

* Using `import.meta.glob`
  * https://github.com/babichjacob/university-website/blob/84b5e7ff44550910550a3c809ccb9f1402df301b/src/routes/blog/index.json.ts
    * A more advanced way: https://github.com/babichjacob/university-website/blob/84b5e7ff44550910550

[2021-05-14 02:21] benmccann commented on #203
I personally think that pointing to [svelte-add/tailwindcss](https://github.com/svelte-add/tailwindcss) is the best solution. My experience is that the setup has had to change frequently and it would quickly get out of date if we tried to put it on the site. Adders have some strong advantages over recipes such as having its own issue tracker, being able to automatically apply it with a command, an

[2021-05-14 02:38] benmccann commented on #221
It looks like https://github.com/svelte-society/sveltesociety.dev/pull/208 will fix this

[2021-05-14 02:38] #190 closed

[2021-05-14 09:14] kevmodrome commented on #223
Right, I'm not saying it wouldn't be doable in SvelteKit, just that it's much easier in Routify:

[code]

[2021-05-15 15:10] HAUDRAUFHAUN commented on #223
Do you know if a feature like `layout` form routify is planned to get integrated into sveltekit?

[2021-05-16 05:05] benmccann commented on #223
There hasn't been any discussion of it. It'd be useful to see a side-by-side comparison. If there's something that could be made a lot easier then we'd be open to it. I think it's not really much harder in SvelteKit though: `const children = import.meta.glob('./**/*.svx');`

[2021-05-16 14:57] HAUDRAUFHAUN commented on #223
This approach looks nice and clean, but it's giving you back an object, not an array (like the `layout.children` would do).

[2021-05-16 15:24] HAUDRAUFHAUN commented on #223
I figured out following solution:
[code]

[2021-05-16 16:07] #230 closed

[2021-05-18 06:30] #222 closed

[2021-05-18 08:54] HAUDRAUFHAUN commented on #223
I opened up a [Pull Request](https://github.com/svelte-society/sveltesociety-2021/pull/1) on the svelte-kit version of the site, I used a [hook](https://github.com/svelte-society/sveltesociety-2021/pull/1/files?file-filters%5B%5D=.cjs&file-filters%5B%5D=.js&file-filters%5B%5D=.json&file-filters%5B%5D=.svelte&file-filters%5B%5D=.svx&file-filters%5B%5D=.ts#diff-a2d969770fbca6d31b2bcb062b5d406aa54f9d

[2021-05-18 09:41] kevmodrome commented on #223
I think you're looking at this from a PoV that is too "narrow" if that makes sense. The idea of the layout helper isn't only to give you access to a list of children in some path, among other things it also lets you traverse the manifest file programatically and provides you with a ton of information about each route. Here's an example of the amount of information you have access to using just the

[2021-05-18 16:04] mvasigh commented on #223
Hi! I'm interested in this issue since I recently did something similar. Curious, what are the most useful bits of info exposed by the Routify utility?

`import.meta.glob` does give you paths and I feel like you could reconstruct most of that tree from just the paths, but I'd like to know which parts are most important/useful.

[2021-05-18 16:49] kevmodrome commented on #223
I think this discussion has mostly evolved into a discussion about why it would be nice to have something equivalent to `$layout` in SvelteKit. We've already established that it can be done.

I'm sure you can re-create most functionality using import.meta.glob, I'm merely saying that doing things like this in Routify requires much less effort.

One thing I find myself using in Routify is the abili

[2021-05-18 17:35] mvasigh commented on #223
Yeah all of that makes sense! I've never used Routify, but did run into some of those limitations of SK while building with it (and I'm pretty new to Svelte's ecosystem in general). So this is useful for me to think through in my head what I'd want this kind of functionality in SK to look like.

[2021-05-18 19:04] pngwn commented on #33
You folk do not miss a beat. These changes are not imminent and will be discussed publicly before anything is decided. I don't know if it is worth waiting for that.

In all likelihood a future version of `mdsvex` will handle line numbers/ highlighting out of the box. So at worst, a future version of mdsvex will solve something that you have already tackled rather than break anything. It is current

[2021-05-18 19:06] babichjacob commented on #33
It's hard not to be excited about the best tool in the Svelte ecosystem!

[2021-05-18 20:10] pngwn commented on #33
Discussion about the proposed changes here for those interested: https://github.com/pngwn/MDsveX/discussions/259

[2021-05-23 05:20] tcc-sejohnson opened #236 "Automatically mark past events as "past""
[See my pull request for more context.](https://github.com/svelte-society/sveltesociety.dev/pull/235)

Events on the events page have to manually be marked as "past". This seems like something that'd be _very_ easy to automate. I'm happy to work out a solution and create a pull request if a maintainer will give it the okay -- don't want to waste my time if there's some reason it's not already auto

[2021-06-01 05:50] dummdidumm opened #238 "Add category "SvelteKit adapters""
A tag named SvelteKit adapters (or sth similar) would help group such adapters.

[2021-06-01 05:53] dummdidumm opened #239 "Make tags selection linkable"
Right now, when you select tags in the components list, those are not reflected in the URL. It would be great if they were, to be able to deep-link. Official docs could then link to specific searches, for example "here you can find a list of community adapters for SvelteKit".

[2021-06-10 15:44] algaly commented on #223
SvelteKit is Great !
Don't worry you'll edict to it.

[2021-06-10 15:45] algaly commented on #223
I was wondering how can i config an ssl with sveltekit with the ssl certificate i bought

[2021-06-10 16:49] benmccann commented on #223
@algaly please ask this type of question in the #svelte-kit discord channel. It's way off topic for this issue

[2021-06-11 20:41] benmccann opened #242 "Add podcast and newsletter"
@d3sandoval and @kevmodrome have both pointed out that the newsletter isn't very discoverable from svelte.dev currently. There's been some hesitation about putting it on svelte.dev since no one wants to take on the burden of being responsible for making it official. But sveltesociety.dev seems like a great place for it to live since it's the community site. And then I'd like to do a better job sur

[2021-06-13 02:22] #192 closed

[2021-06-16 21:18] davidwparker commented on #223
@kevmodrome - if you have a PR you can push up, I can start working on this. I have some free time and would like to help where I can.

[2021-06-16 21:24] benmccann commented on #223
There's a repo for it at https://github.com/svelte-society/sveltesociety-2021. I sent a PR https://github.com/svelte-society/sveltesociety-2021/pull/4 that finishes up a lot of what's left. Hopefully @sw-yx or @kevmodrome can merge so that people can work from that base. It'd be helpful to test all the various links and features and check out what might still be missing compared to the live site,

[2021-06-17 02:51] sw-yx commented on #223
yes we do... sorry just got a little busy at work. merging now

[2021-06-17 12:19] benmccann commented on #242
https://www.iconfinder.com/iconsets/social-hand-drawn-icons

[2021-06-17 13:05] kevmodrome commented on #242
Sorry, must have missed this - GitHub notifications aren't the best. I think this makes sense.

[2021-06-17 15:58] benmccann commented on #223
thanks @sw-yx! @davidwparker if you have some time to lend, I just made a list of stuff that I noticed is different between the sites: https://github.com/svelte-society/sveltesociety-2021/issues/5. There's not too much, so hopefully we're just another PR away from being in a launchable state!

[2021-06-17 18:47] benmccann commented on #242
This was done in https://github.com/svelte-society/sveltesociety-2021/pull/6. Thanks to @brittneypostma!

[2021-06-17 18:47] #242 closed

[2021-06-17 19:42] benmccann commented on #221
This button has been removed from https://github.com/svelte-society/sveltesociety-2021

[2021-06-17 19:42] #221 closed

[2021-06-17 21:51] benmccann commented on #239
This is fixed in https://github.com/svelte-society/sveltesociety-2021

[2021-06-17 22:21] benmccann commented on #238
I sent a PR for this: https://github.com/svelte-society/sveltesociety-2021/pull/8

[2021-06-23 06:50] derolf opened #243 "Importing 3rd party libraries via script and aliasing to a global"
This example shows how to import Three.JS into a SvelteKit project and replace imports with global `THREE`. It should work the same way for other 3rd party libraries.

* Import the Script *

Add the script to `app.html`:

[code]

* Create a proxy module *

Create a file `src/module-hacks/three.cjs` with:

[code]

* Alias the proxy module *

In `svelte.config.js`, add:

[code]

[2021-06-23 07:00] kevmodrome commented on #5
This is a good list. I'll post on Twitter and on Discord and see if we can get some people interested in helping with this.

[2021-06-23 13:47] christianp86 commented on #5
Happy to help 🙌🏻

[2021-06-24 04:40] benmccann commented on #238
This is done now in https://github.com/svelte-society/sveltesociety-2021

[2021-06-24 07:27] #238 closed

[2021-06-24 13:02] benmccann commented on #5
That'd be great @christianp86! Any idea when you might be able to take a look?

[2021-06-24 13:16] #231 closed

[2021-06-24 13:46] christianp86 commented on #5
@benmccann I will take a look tonight. Should we create individual issues for better tracking?

[2021-06-24 14:05] benmccann commented on #5
no need. I can just update the list above as PRs are merged to cross out items that are done

[2021-06-28 05:08] christianp86 commented on #5
I'll try fixing some more issues this week 👍🏻

[2021-06-28 23:25] sw-yx commented on #223
just gonna close for now since work is underway

[2021-06-28 23:25] #223 closed

[2021-06-28 23:26] swyxio commented on #12
@kevmodrome does cloudflare have a github app that auto adds these previews per PR, can you install it?

[2021-06-28 23:27] swyxio commented on #5
i have been MIA for a while bc i moved countries 😅  will pick up soon when i settle in to my new place. keep going gang!!

[2021-07-01 13:02] kevmodrome commented on #12
No, I'll add a Netlify integration as well

[2021-07-01 13:07] kevmodrome commented on #16
This is definitely something we need. I'm open to any of the solutions but it does sound like GraphQL API is the way to go. Does it make sense to run it in a GitHub Action? Other ideas?

[2021-07-09 02:12] #218 closed

[2021-07-09 14:21] kevmodrome commented on #20
Maybe @mikenikles can help with this?

[2021-07-09 16:34] mikenikles commented on #20
I opened a PR to address that. Interestingly enough, fixing the indentation of `pnpm dev` wasn't enough initially, I ended up deleting the file and pasting the content back in.

My suspicion (although I can't proof it 😄) is that there was a whitespace issue somewhere in the file. Maybe also just some other glitch, but the #21 PR fixes it.

[2021-07-17 08:12] christianp86 commented on #5
Sorry guys but finding time during my parental leave is harder then expected 🙃 I did some additional fixes for events but then my little girl woke up from her nap 😴
Long story short I am on vacation for two weeks now and will get back to it once we are home again. Cheers chris

[2021-07-21 02:15] #203 closed

[2021-07-23 04:03] tcc-sejohnson commented on #236
Still happy to fix this if you give the go-ahead, @sw-yx . 🙂

[2021-08-02 15:44] ambarvm commented on #35
Can I help with this?

[2021-08-02 15:53] ambarvm commented on #35
Found a few issues that are causing the build to fail.
- img tags for icon in Recipe and RecipeCategory result in 404. I guess the Icon component is supposed to be used here.
- stores recipe has a broken link to `tutorial/store-bindings`
- A url typo in index.svelte

Also Not a build error but font url needs to start with / to work in build

[2021-08-02 15:57] benmccann commented on #35
Yes, any help would be very much appreciated

[2021-08-02 19:59] benmccann commented on #5
@kevmodrome there's a good handful of PRs pending. Once they're all merged I think we should be good to launch!!

[2021-08-06 14:59] ambarvm commented on #46
Can I help with this?

[2021-08-07 11:37] brittneypostma commented on #47
Finished merging

[2021-08-09 07:08] stephane-vanraes commented on #46
Yes, all contributions are welcome, just drop a line here that you are working on this so we don't get multiple prs

[2021-08-09 09:44] ambarvm commented on #45
Working on this

[2021-08-09 12:59] kevmodrome commented on #5
Closing this since we've launched!

[2021-08-29 14:02] kevmodrome commented on #84
Looks like this wasn't automatically closed 🤔

[2021-08-29 21:40] benmccann commented on #89
You could copy the `format` and `lint` commands from SvelteKit:

https://github.com/sveltejs/kit/blob/c0d06c1466952213220e7bffc139cd15ceba1327/packages/kit/package.json#L57

https://github.com/sveltejs/kit/blob/master/.prettierrc

[2021-08-30 08:14] kevmodrome commented on #89
I think this definitely makes sense to add. I'd love to have something that runs this when someone opens a PR

[2021-08-30 12:02] ambarvm commented on #16
I am working on a script for this using the GraphQL API.

[2021-09-06 09:55] kevmodrome commented on #99
I didn't write the recipe (I think @pngwn did, though I don't remember exactly) but I think changing the recipe to use the method that Luke suggested there makes sense.

In general I think the recipes need some tidying up and re-writing.

[2021-09-06 11:25] brittneypostma commented on #51
merged

[2021-09-07 11:35] ambarvm commented on #98
Working on this

[2021-09-10 21:41] kevmodrome commented on #12
Why did you close this @benmccann ?

[2021-09-10 22:58] benmccann commented on #12
Ah, sorry. I didn't realize we were still using the staging site now that things are live at sveltesociety.dev. I figured we'd just be deploying directly there now. The staging URL was pointing to old code for me. Any reason to keep staging since we have Netlify previews on all the PRs?

[2021-09-11 10:23] kevmodrome commented on #12
I guess it's not necessarily needed, i just like the idea of staging -> master as an extra step to make sure it works - I did notice the URL was wrong, updated it with the correct one

[2021-09-13 18:46] brittneypostma commented on #12
~~URL isn't loading for me, I can't see the staging site live without a deploy preview.~~

I said this and then I tried again and it worked...don't mind me.

[2021-10-15 19:26] benmccann commented on #150
Where on the site would we put it?

Are there other places around the Svelte web properties we could put it that would have let you realize this sooner?

[2021-10-15 19:30] maxcell commented on #150
From my own research, the other web properties for Svelte don't mention Sapper except for one book between it and just Svelte. In fact, I didn't know about it till I looked at the [Templates section of this site](https://sveltesociety.dev/templates#sapper) of the Svelte Society when I was looking for examples.

[2022-01-29 20:43] thirdshift commented on #224
Oh the irony of having a typo in your issue about a typo.

[2022-01-29 20:55] thirdshift commented on #224
[code]